@import "_variables.scss";

.main-content {
    padding-top: 20px;
    &:before {
        content: "";
        position: absolute;
        top: -15px;
        left: -13px;
        background: url("/img/volonter.png");
        width: 100px;
        height: 100px;
        filter: invert(1);
        background-size: cover;
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -webkit-filter: invert(1);
    }
}

.site-decs {
    font-size: 24px;
    margin-bottom: 30px;
}

.call-button {
    display: flex;
    justify-content: center;
    padding: 30px 15px;

    .callback {
        padding: 15px;
        background: $orange;
        border-radius: 22px;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: $bold;
        cursor: pointer;
    }
}

h1 {
    // размер шрифта
    font-size: 25px;
    
    text-transform: uppercase;

    // выравниваю по центру
    text-align: center;
    
    // внешний отступ снизу
    margin-bottom: 2.5rem;
    
    // цвет шрифта
	color: #f7801d;
}

// все заголовки h2
h2 {
    text-transform: uppercase;

    // выравниваю по центру
    text-align: center;

    // внешний отступ
    margin-bottom: 2.5rem;
}

// отзывы
.reviews  {
    box-shadow: -1px 1px 9px 0px #d0d0d0;
    background: #f9f9f9;
    padding: 20px 10px;
    margin-bottom: 30px;
    img {

        // ширина
        width: 400px !important;

        // внешний отступ
        margin: 0 auto 20px;
    }
}

// отзыв
.review-item {
    p {
       text-align: center;
       font-size: 23px;
    }
}

@media only screen and (max-width : 769px) {
    .main-content {
        padding-top: 20px;
    
        &:before {
            display: none;
        }
    }
}
  
@media only screen and (max-width : 576px) {
    // форма
    .form {
        width: 88%;
    }
}