.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3%;
  z-index: 2;
  width: 450px;
  padding: 30px 20px;
  background: #f9f9f9;
  border: 1px solid #666;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.form input {
  width: 83%;
  padding: 5px 15px;
  margin: 5px 0 10px;
  border-radius: 20px;
  border: 1px solid #b2b2b2;
  text-align: center;
}

.form .submit_form {
  padding: 11px;
  background: #f38d38;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px;
  width: 200px;
  border-radius: 20px;
}

.form h2 {
  margin-bottom: 15px;
}

.form .submit-outer {
  padding: 20px 0;
  text-align: center;
}

.form .submit_form:hover {
  background: #e5812d;
  transition: all .3s;
}

.btn-close {
  background: rgba(0, 0, 255, 0);
  border: 0;
  position: absolute;
  top: 5px;
  right: 3px;
  width: 24px;
  height: 24px;
}

.btn-close:active, .btn-close:focus {
  outline: none;
}

.btn-close:before {
  content: "";
  width: 2px;
  height: 25px;
  position: absolute;
  right: 13px;
  top: 0px;
  transform: rotate(225deg);
  background: #9d9d9d;
}

.btn-close:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 11px;
  right: 1px;
  transform: rotate(45deg);
  background: #9d9d9d;
}

.popup-main .btn-close {
  top: 0;
  right: 0;
}

.main-content {
  padding-top: 20px;
}

.main-content:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -13px;
  background: url(/img/volonter.png);
  width: 100px;
  height: 100px;
  filter: invert(1);
  background-size: cover;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -webkit-filter: invert(1);
}

.site-decs {
  font-size: 24px;
  margin-bottom: 30px;
}

.call-button {
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}

.call-button .callback {
  padding: 15px;
  background: #f38d38;
  border-radius: 22px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #f7801d;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}

.reviews {
  box-shadow: -1px 1px 9px 0px #d0d0d0;
  background: #f9f9f9;
  padding: 20px 10px;
  margin-bottom: 30px;
}

.reviews img {
  width: 400px !important;
  margin: 0 auto 20px;
}

.review-item p {
  text-align: center;
  font-size: 23px;
}

@media only screen and (max-width: 769px) {
  .main-content {
    padding-top: 20px;
  }
  .main-content:before {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .form {
    width: 88%;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #747474;
  letter-spacing: 1.1px;
  min-width: 320px;
  font-size: 1rem;
  line-height: 1.4;
  background: url("/img/bg-geometry.png");
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-display: swap;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 980px;
}

label, button {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */