@import "_variables.scss";
@import "_form.scss";
@import "_main.scss";

html {
	box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: #747474;
  letter-spacing: 1.1px;
  min-width: 320px;
  font-size: 1rem;
  line-height: 1.4;
  background: url('/img/bg-geometry.png');
}

 @font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    font-display: swap;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 980px;
}

label, button {
    cursor: pointer;
}